<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Orders</title>
</head>
<body>
    <h1>Список заказанных товаров клиента {{ client.name }}</h1>

    <h2>Товары за последние 7 дней:</h2>
    <ul>
        {% for order in client.get_all_client_orders %}
            {% if order.order_date >= last_week %}
                {% for product in order.get_products %}
                    <li>{{ product.name }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Товары за последние 30 дней:</h2>
    <ul>
        {% for order in client.get_all_client_orders %}
            {% if order.order_date >= last_month %}
                {% for product in order.get_products %}
                    <li>{{ product.name }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Товары за последние 365 дней:</h2>
    <ul>
        {% for order in client.get_all_client_orders %}
            {% if order.order_date >= last_year %}
                {% for product in order.get_products %}
                    <li>{{ product.name }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>